<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default" />

    <f:section name="Buttons">
        <be:moduleLayout.button.linkButton
            icon="actions-view-go-back"
            title="{f:translate(id: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.goBack')}"
            link="{f:uri.action(controller: 'Theme', action: 'listThemes')}"
        />
    </f:section>



<f:section name="Content">
    <f:if condition="{rootPage}">
        <f:then>
            <h1>Choose a theme for rootpage: {currentPage.title}</h1>
            <f:render section="ThemesList" arguments="{_all}" />
        </f:then>
        <f:else>
            <h1>LL:Choose a theme template for this Website{f:translate(key: 'index.title')}</h1>
            <f:render partial="InfoBox" arguments="{_all}"/>
        </f:else>
    </f:if>
<f:section name="ThemesList">
    <div class="theme-browser">
        <h2>Theme templates <span class="badge bg-success"><f:count subject="{availableThemes}" /></span></h2>
        <div class="themes">
            <div class="theme active">
                <div class="theme-screenshot">
                    <img src="https://wordpress.ddev.site/wp-content/themes/rookie/screenshot.png" alt="">
                    <button type="button" aria-label="Theme-Details für Rookie anzeigen" class="more-details" id="rookie-action" data-bs-toggle="modal" data-bs-target="#exampleModal">Theme-Details</button>
                </div>

                <div class="theme-author">
                    Von ThemeBoy	</div>
                <div class="theme-id-container">
                    <h2 class="theme-name" id="rookie-name">
                        <span class="badge-active bg-success">Active</span>
                        <span class="theme-name" id="rookie">bootstrap_package</span>

                        <f:comment><span>Aktiv:</span> Rookie</f:comment>
                    </h2>
                    <div class="theme-actions">
                        <a aria-label="Rookie anpassen" class="btn btn-danger hide-if-no-customize" href="https://wordpress.ddev.site/wp-admin/customize.php?theme=rookie&amp;return=%2Fwp-admin%2Fthemes.php">Configurator</a>
                    </div>
                </div>
            </div>
            <div class="theme" data-slug="twentynineteen">

                <div class="theme-screenshot">
                    <img src="https://wordpress.ddev.site/wp-content/themes/twentynineteen/screenshot.png" alt="">
                </div>






                <button type="button" aria-label="Theme-Details für Twenty Nineteen anzeigen" class="more-details" id="twentynineteen-action">Theme-Details</button>
                <div class="theme-author">
                    Von WordPress-Team	</div>

                <div class="theme-id-container">

                    <h2 class="theme-name" id="twentynineteen-name">Twenty Nineteen</h2>


                    <div class="theme-actions">


                        <a class="btn btn-success activate" href="https://wordpress.ddev.site/wp-admin/themes.php?action=activate&amp;stylesheet=twentynineteen&amp;_wpnonce=b9c2b7bc17" aria-label="Aktiviere Twenty Nineteen">Aktivieren</a>

                        <a aria-label="Live-Vorschau Twenty Nineteen" class="btn btn-info hide-if-no-customize" href="https://wordpress.ddev.site/wp-admin/customize.php?theme=twentynineteen&amp;return=%2Fwp-admin%2Fthemes.php">Live-Vorschau</a>



                    </div>
                </div>
            </div>
            <div class="theme" data-slug="twentyseventeen">

                <div class="theme-screenshot">
                    <img src="https://wordpress.ddev.site/wp-content/themes/twentyseventeen/screenshot.png" alt="">
                </div>






                <button type="button" aria-label="Theme-Details für Twenty Seventeen anzeigen" class="more-details" id="twentyseventeen-action">Theme-Details</button>
                <div class="theme-author">
                    Von WordPress-Team	</div>

                <div class="theme-id-container">

                    <h2 class="theme-name" id="twentyseventeen-name">Twenty Seventeen</h2>


                    <div class="theme-actions">


                        <a class="button activate" href="https://wordpress.ddev.site/wp-admin/themes.php?action=activate&amp;stylesheet=twentyseventeen&amp;_wpnonce=86affc1745" aria-label="Aktiviere Twenty Seventeen">Aktivieren</a>

                        <a aria-label="Live-Vorschau Twenty Seventeen" class="button button-primary load-customize hide-if-no-customize" href="https://wordpress.ddev.site/wp-admin/customize.php?theme=twentyseventeen&amp;return=%2Fwp-admin%2Fthemes.php">Live-Vorschau</a>



                    </div>
                </div>
            </div>
            <div class="theme" data-slug="twentytwenty">

                <div class="theme-screenshot">
                    <img src="https://wordpress.ddev.site/wp-content/themes/twentytwenty/screenshot.png" alt="">
                </div>






                <button type="button" aria-label="Theme-Details für Twenty Twenty anzeigen" class="more-details" id="twentytwenty-action">Theme-Details</button>
                <div class="theme-author">
                    Von WordPress-Team	</div>

                <div class="theme-id-container">

                    <h2 class="theme-name" id="twentytwenty-name">Twenty Twenty</h2>


                    <div class="theme-actions">


                        <a class="button activate" href="https://wordpress.ddev.site/wp-admin/themes.php?action=activate&amp;stylesheet=twentytwenty&amp;_wpnonce=3bfc430a58" aria-label="Aktiviere Twenty Twenty">Aktivieren</a>

                        <a aria-label="Live-Vorschau Twenty Twenty" class="button button-primary load-customize hide-if-no-customize" href="https://wordpress.ddev.site/wp-admin/customize.php?theme=twentytwenty&amp;return=%2Fwp-admin%2Fthemes.php">Live-Vorschau</a>



                    </div>
                </div>
            </div>
            <div class="theme" data-slug="twentytwentyone">

                <div class="theme-screenshot">
                    <img src="https://wordpress.ddev.site/wp-content/themes/twentytwentyone/screenshot.png" alt="">
                </div>






                <button type="button" aria-label="Theme-Details für Twenty Twenty-One anzeigen" class="more-details" id="twentytwentyone-action">Theme-Details</button>
                <div class="theme-author">
                    Von WordPress-Team	</div>

                <div class="theme-id-container">

                    <h2 class="theme-name" id="twentytwentyone-name">Twenty Twenty-One</h2>


                    <div class="theme-actions">


                        <a class="button activate" href="https://wordpress.ddev.site/wp-admin/themes.php?action=activate&amp;stylesheet=twentytwentyone&amp;_wpnonce=38132cf3bb" aria-label="Aktiviere Twenty Twenty-One">Aktivieren</a>

                        <a aria-label="Live-Vorschau Twenty Twenty-One" class="button button-primary load-customize hide-if-no-customize" href="https://wordpress.ddev.site/wp-admin/customize.php?theme=twentytwentyone&amp;return=%2Fwp-admin%2Fthemes.php">Live-Vorschau</a>



                    </div>
                </div>
            </div>
            <div class="theme" data-slug="twentytwentytwo">

                <div class="theme-screenshot">
                    <img src="https://wordpress.ddev.site/wp-content/themes/twentytwentytwo/screenshot.png" alt="">
                </div>






                <button type="button" aria-label="Theme-Details für Twenty Twenty-Two anzeigen" class="more-details" id="twentytwentytwo-action">Theme-Details</button>
                <div class="theme-author">
                    Von WordPress-Team	</div>

                <div class="theme-id-container">

                    <h2 class="theme-name" id="twentytwentytwo-name">Twenty Twenty-Two</h2>


                    <div class="theme-actions">


                        <a class="button activate" href="https://wordpress.ddev.site/wp-admin/themes.php?action=activate&amp;stylesheet=twentytwentytwo&amp;_wpnonce=c888497edb" aria-label="Aktiviere Twenty Twenty-Two">Aktivieren</a>



                    </div>
                </div>
            </div>
        </div>
    </div>
</f:section>



    <f:comment>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="profile-card">
                    <div class="profile-img">
                        <div class="profile-content">
                            <h2 class="title">Brayden
                                <span>Designer & Developer</span>
                            </h2>
                        </div>
                        <f:image src="EXT:t3_theme_diag/Resources/Public/Images/Screenshots/screenshot_01.png" alt="alt text" />
                    </div>

                    <div class="profile-footer">
                        <strong>Active:</strong> Rookie
                    </div>
                </div>

            </div>
            <div class="col-sm-6 col-md-4">
                <div class="profile-card">
                    <div class="profile-img">
                        <f:image src="EXT:t3_theme_diag/Resources/Public/Images/Screenshots/screenshot_02.png" alt="alt text" />
                    </div>
                    <div class="profile-content">
                        <h2 class="title">Jasephine
                            <span>Designer & Developer</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="profile-card">
                    <div class="profile-img">
                        <f:image src="EXT:t3_theme_diag/Resources/Public/Images/Screenshots/screenshot_03.png" alt="alt text" />
                    </div>
                    <div class="profile-content">
                        <h2 class="title">Marco
                            <span>Designer & Developer</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="profile-card">
                    <div class="profile-img">
                        <f:image src="EXT:t3_theme_diag/Resources/Public/Images/Screenshots/screenshot_01.png" alt="alt text" />
                        <div class="profile-content">
                            <h2 class="title">Amaira
                                <span>Designer & Developer</span>
                            </h2>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </f:comment>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Theme Name</h5> <span>v1.1.1</span>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="theme-about">
                        <div class="theme-screenshots">

                            <div class="screenshot"><img src="https://wordpress.ddev.site/wp-content/themes/rookie/screenshot.png" alt=""></div>

                        </div>

                        <div class="theme-info">

                            <span class="current-label">Aktives Theme</span>

                            <h2 class="theme-name">Rookie<span class="theme-version">
            Version: 1.5.4				</span></h2>
                            <p class="theme-author">
                                Von <a href="https://www.themeboy.com">ThemeBoy</a>				</p>







                            <div class="theme-autoupdate">


                                <button type="button" class="toggle-auto-update button-link" data-slug="rookie" data-wp-action="enable">
                                    <span class="dashicons dashicons-update spin hidden" aria-hidden="true"></span><span class="label">Automatische Aktualisierungen aktivieren</span>
                                </button>



                                <div class="notice notice-error notice-alt inline hidden"><p></p></div>
                            </div>


                            <p class="theme-description">Rookie ist ein vollständig responsives Theme, das für Sportorganisationen entwickelt wurde, die das SportsPress-Plugin verwenden möchten. Sobald du das Theme und SportsPress installiert hast, kannst du eine Voreinstellung für deine Sportart auswählen und den Demo-Inhalt installieren, der dir den Einstieg in den Aufbau deiner Sportwebseite erleichtern soll.</p>




                            <p class="theme-tags"><span>Tags:</span> Eine Spalte, Zwei Spalten, Drei Spalten, Seitenleiste links, Seitenleiste rechts, flexible-header, buddypress, Individueller Hintergrund, Individuelle Farben, Individueller Header, custom-menu, Stylesheet für Editor, Beitragsbilder, Footer-Widgets, Template mit voller Breite, rtl-language-support, Beitrag oben halten, Theme-Einstellungen, threaded-comments, translation-ready, Blog, Unterhaltung, News</p>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button-->
                    <button type="button" class="btn btn-primary">Configurator</button>
                </div>
            </div>
        </div>
    </div>

</f:section>
</html>
