<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    data-namespace-typo3-fluid="true">

<be:moduleLayout>
    <f:comment>
    <f:be.pageRenderer pageTitle="foo"
                       includeCssFiles="{0: '{f:uri.resource(path:\'Css/Styles.css\')}'}"/>


    <be:moduleLayout.menu identifier="ModuleMenu">
        <be:moduleLayout.menuItem label="Overview" uri="{f:uri.action(controller: 'Theme', action: 'list')}" />
        <be:moduleLayout.menuItem label="Create new Theme" uri="{f:uri.action(controller: 'Theme', action: 'new')}" />
    </be:moduleLayout.menu>





    <f:render section="Buttons" />


    <be:moduleLayout.button.shortcutButton displayName="Shortcut" />
</f:comment>
    <f:render section="Content" />
</be:moduleLayout>
</html>
